footer {
    width: 100%;
    background-color: pink;
    height: 70px;
    color: beige;
    box-shadow: brown 3px -5px 4px;
    text-align: center;
    bottom:0px;
}

.containerFooter {
    margin: auto;
    position: fixed;
}