<main>
        <p id="homeTitle">Información básica</p>
        <section id="home" class="container">
            <!--<div id="box"></div>-->
            <div><br><span>Nombre: </span><br><hr class="line"><p class="infoI">Laura Griselda González Camacho</p></div>
            <div><br><span>Edad: </span><br><hr class="line"><p class="info">20 años</p></div>
            <div><br><span>Ocupación: </span><br><hr class="line"><p class="infoI">Estudiante de universidad</p></div>
            <div><br><span>Universidad: </span><br><hr class="line"><p class="info">ITESO</p></div>
            <div><br><span>Carrera: </span><br><hr class="line"><p class="infoI">Ingeniería en Sistemas Computacionales</p></div>
            <div><br><span>Fecha de graduación: </span><br><hr class="line"><p class="info">Diciembre 2024</p></div>
            <div><br><span>Idiomas: </span><br><hr class="line"><ul class="infoI">
                <li>Español nativo</li>
                <li>Inglés avanzado</li>
                <li>Francés principiante</li>
                <li>Alemán principiante</li>
            </ul></div>
            <div><br><span>Nacionalidad: </span><br><hr class="line"><p class="info">Mexicana</p></div>
        </section>
</main>
