<main>
        <p id="homeTitle">Información básica</p>
        <section id="home" class="container">
            <!--<div id="box"></div>-->
            <div><br><span class="title">NOMBRE</span><br><hr class="line"><p class="infoI">Laura Griselda González Camacho</p></div>
            <div><br><span class="title">EDAD</span><br><hr class="line"><p class="info">20 años</p></div>
            <div><br><span class="title">OCUPACIÓN</span><br><hr class="line"><p class="infoI">Estudiante de universidad</p></div>
            <div><br><span class="title">UNIVERSIDAD</span><br><hr class="line"><p class="info">ITESO</p></div>
            <div><br><span class="title">CARRERA</span><br><hr class="line"><p class="infoI">Ingeniería en Sistemas Computacionales</p></div>
            <div><br><span class="title">FECHA DE GRADUACIÓN</span><br><hr class="line"><p class="info">Diciembre 2024</p></div>
            <div><br><span class="title">IDIOMAS</span><br><hr class="line"><ul class="infoI">
                <li>Español nativo</li>
                <li>Inglés avanzado</li>
                <li>Francés principiante</li>
                <li>Alemán principiante</li>
            </ul></div>
            <div><br><span class="title">GPA</span><br><hr class="line"><p class="info">9.5/10</p></div>
        </section>
</main>
