<main>
    <p id="homeTitle">Proyectos más importantes</p>
    <section id="home" class="container">
        <!--<div id="box"></div>-->
        <div><br><span class="title">Simulador de horario</span><br><hr class="line"><p class="infoI">
            Simulador de una página para meter materias para un semestre del ITESO. Se usó una API y una base de datos desarrollada por el equipo.
        </p></div>
        <div><br><span class="title">Covid Tracker</span><br><hr class="line"><p class="infoI">
            Página web de los datos actualizados al momento de las cifras de enfermos, recuperados y fallecidos por COVID por país.
        </p></div>
        <div><br><span class="title">FCC toolkit</span><br><hr class="line"><p class="infoI">
            Serie de programas codificados en Python para operaciones relacionadas con los fundamentos de ciencias computacionales.
        </p></div>
        <div><br><span class="title">Algoritmos de clasificación</span><br><hr class="line"><p class="infoI">
            Programa expandible en Java por medio de una API de algoritmos de clasificación y formas de probarlos por medio de diversas funciones conectadas a Excel.
        </p></div>
    </section>
</main>
