<main>
    <p id="homeTitle">Skills</p>
    <section id="home" class="container">
        <!--<div id="box"></div>-->
        <div><br><span class="title">Lenguajes de front-end</span><br><hr class="line"><p class="infoI">
            HTML (?) <br>
            SCSS 
        </p></div>
        <div><br><span class="title">Lenguajes de back-end</span><br><hr class="line"><p class="infoI">
            Javascript<br>
            Java<br>
            C<br>
            C++<br>
            Python
        </p></div>
        <div><br><span class="title">Lenguajes de bases de datos</span><br><hr class="line"><p class="info">SQL</p></div>
        <div><br><span class="title">Lenguajes de electrónica</span><br><hr class="line"><p class="info">
            Verilog<br>
            Ensamblador
        </p></div>
    </section>
</main>
