<p id="homeTitle">Familia</p>
        <section id="familia" class="hContainer">
            <div><br><span>Mamá: </span><br><hr class="line"><br><img src="/assets/img/m.jpg" alt="leer"></div>
            <div><br><span>Papá: </span><br><hr class="line"><br><img src="/assets/img/p.jpg" alt="leer"></div>
            <div><br><span>Hermana: </span><br><hr class="line"><br><img src="/assets/img/h.jpg" alt="leer"></div>
            <div><br><span>Azul: </span><br><hr class="line"><br><img src="/assets/img/a.jpg" alt="leer"></div>
        </section>