<p id="homeTitle">Hobbies</p>
        <section id="hobbies" class="hContainer">
            <div><br><span>Leer: </span><br><hr class="line"><br><img src="/assets/img/i4.jpg"></div>
            <div><br><span>Cocinar: </span><br><hr class="line"><br><img src="/assets/img/i3.jpg" alt="leer"></div>
            <div><br><span>Amigos: </span><br><hr class="line"><br><img src="/assets/img/i2.jpg" alt="leer"></div>
            <div><br><span>Viajar: </span><br><hr class="line"><br><img src="/assets/img/i1.jpg" alt="leer"></div>
        </section>