<h3>Bienvenida {{name}}</h3>
<main>
        <p id="homeTitle">Información básica</p>
        <section id="home" class="container">
            <!--<div id="box"></div>-->
            <div><br><span>Nombre: </span><br><hr class="line"><p class="info">Laura Griselda González Camacho</p></div>
            <div><br><span>Edad: </span><br><hr class="line"><p class="info">20 años</p></div>
            <div><br><span>Ocupación: </span><br><hr class="line"><p class="info">Estudiante de universidad</p></div>
            <div><br><span>Escuela: </span><br><hr class="line"><p class="info">ITESO</p></div>
            <div><br><span>Carrera: </span><br><hr class="line"><p class="info">Ingeniería en Sistemas Computacionales</p></div>
            <div><br><span>Semestre: </span><br><hr class="line"><p class="info">6to semestre</p></div>
            <div><br><span>Apodos: </span><br><hr class="line"><p class="info">Lau</p></div>
            <div><br><span>Nacionalidad: </span><br><hr class="line"><p class="info">Mexicana</p></div>
        </section>
</main>
