 <br><br>
   <form action="/noticias" method="get" class="search">
        <button class="searchBtn" type="submit"><img src="../../assets/img/logo.png"></button>
       <hr>
        <input class="searchBar" type="text" placeholder="Search">
</form>