<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 4</title>
    <link rel="stylesheet" href="../../assets/estilos.css">
</head>
<body>
    <header>
        <nav class="navContainer">
            <!--<img src="../../assets/img/logo.png" class="logo">-->
            <p class="navTxt">Global news</p>
        </nav>
    </header>
    <br><br>
   <form class="search">
        <button class="searchBtn" type="submit"><img src="../../assets/img/logo.png"></button>
       <hr>
        <input class="searchBar" type="text" placeholder="Search">
        
    </form>
    
</body>
</html>