<!--<header>
    <a routerLink="/">Inicio</a><br>
    <a routerLink="/contact">Contacto</a><br>
</header>-->
<header class="containerNav">
    <ul class="navBar">
        <li class="secciones"><a routerLink="/">Home</a><br></li>
        <li class="secciones"><a routerLink="/contact">Contact</a></li>
        <li class="secciones"><a routerLink="/courses">Skills</a></li>
        <li class="secciones"><a routerLink="/education">Education</a></li>
        <li class="secciones"><a routerLink="/projects">Projects</a></li>
    </ul>
</header>
