<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 4</title>
    <link rel="stylesheet" href="../../assets/estilos.css">
</head>
<body>
    <header>
        <nav class="navContainer">
            <!--<img src="../../assets/img/logo.png" class="logo">-->
            <a style="text-decoration:none" href="/" class="navTxt">Global news</a>
        </nav>
    </header>
   {{{body}}}
</body>
</html>