<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea 3</title>
    <link rel="stylesheet" href="./assets/css/estilos.css">
</head>
<body>
    <header>
        <nav class="containerNav">
            <ul class="navBar">
                <li class="secciones"><a href="/?token=123">Home</a></li>
                <li class="secciones"><a href="/hobbies?token=123">Hobbies</a></li>
                <li class="secciones"><a href="/familia?token=123">Familia</a></li>
                <li class="secciones"><a href="/contacto?token=123">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <br><br><br>
    {{{body}}}
</body>
</html>